@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.Slide {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 60vh;
}

.SlideText {
    flex: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc(2vmin + 5px);
    line-height: 1.5em;
    overflow-y: auto;
}

.SlideTextContainer {
    padding: 1.5em;
}

.SlideLink {
    flex: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.SlideLinkContainer {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    padding-right: 10px;
}

.MultiImage {
    display: grid;
    place-items: center;
}